#boojsList{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-around;
}

img{
    width: 160px;
}

.card h1{
    font:size 14px;
}
.card h2{
    font:size 14px;
}

.card h3{
    font:size 14px;
}

.card h4{
    font:size 14px;
}