body{
    background-color: rgb(0, 106, 128);
}

.nav-link{
    color:rgb(3, 80, 96);
    font-size:50px;  
}
nav{
    width: 100%;
    font-family: 'Pacifico', cursive;
    box-sizing: border-box;
    border-bottom: 2px solid white;
    font-weight: bold;
}


li.nav-item{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.container{
    width:100%;
}

@media screen and (max-width: 576px) 
{
    a.navbar-brand{
        margin-left: 100px;
        margin-right: 100px;
    }
  
}