body{
  font-family:'Vast Shadow', cursive;
}


.video{
    width: 100%;
    position:fixed;
    top: -225px;
    z-index:-70;
    left:0px;
    bottom:50px;
}

section{
    width: 50%;
    color:white;
    text-align: justify; 
    top:150px;
    left:20px;
    z-index: 1; 
    position:relative;
    
}



h3{
    text-decoration:underline;
    font-size: 30px;
    margin-left: 40px;
    
}
li{
    margin-left: 50px;
    font-size: 20px;
    text-align: justify;
    margin-left: 50px;
 
}   

.carte{
    width: 50%;
    position:absolute;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 20px;  
    z-index: -20px; 
}



.logo-zoo-beauval
{
    position:absolute;
    bottom:400px;
    left:1100px;
  
}

.logo-zoo-de-Paris
{
    position:absolute;
    bottom: 100px;
    left: 1500px;
}

.logo-zoo-le-pal
{
    position:absolute;
    left:1100px;
    bottom:-150px;
    
}

@media screen and (max-width: 900px)
{
  section{
    top:250px;
  }
  li{
    font-size:20px;
  }
}

@media screen and (max-width: 576px)
{
   
    section{
        width:100%;
        font-size:50%;
        
    }

  h3{
    width: 100%;
    margin-left: 600px;
    
   
  }

  li{
    width: 100%;
    margin-left: 600px;
    
  }
  
  img{
    position: absolute;
    flex-direction: column;
    
  }
}