.video{
    width: 100%;
    position:fixed;
    top: 0px;
    bottom: 0px;
    right:0;
    left:0;
    z-index:-70;
}

section{
    color:white;
    text-align: justify; 
    margin-top: 150px;  
}

h3{
    text-decoration:underline;
}