
body{
    
    background-color: black;
}

.navbar {
    
        position:fixed;
        width:100%;
        background-color:#282a2e !important;
        font-size:25px;
        top:0;
        z-index:10;
        font-family:"HARD_ROCK";
    }
   a{
    color:red!important;
    font-family:"Hard-rock";

   } 


section{
    width: 100%;
    margin-top: 100px;
    margin-right: 215px;
    margin-left: 215px;
    padding-left: 215px;
    padding-right: 215px; 
    text-align: center;
}

.carousel-item
{
    border-radius: 12px;
    height:auto;
    width: 25%;
}

.figure-caption{
    color:white;
}
h2{
    text-align: center;
    color:white;
}
img{
    text-align: center;
}
col{
    color:red;
}

.form-label{
    color:white;
}
.form-control{
    color:red;
}
p{
    text-align: center;
    color:white;
}
.btn{
    background-color:red;

    
}
aside{
    text-align: center;
    
}
