

body{
    background-color: black; 
}

.navbar {
    
        position:fixed;
        width:100%;
        background-color:#282a2e !important;
        font-size:25px;
        top:0;
        z-index:10;
        font-family:"HARD_ROCK";
    
    }
   a.nav-link{
    color:red;
   }
  


section{
    width: 100%;
    margin-top: 100px;
    margin-right: 215px;
    margin-left: 215px;
    padding-left: 215px;
    padding-right: 215px; 
    text-align: center;
}

.carousel-item
{
    border-radius: 12px;
    height:auto;
    width: 25%;
}

.figure-caption{
    color:white;
}
h2{
    text-align: center;
    color:white;
}
img{
    text-align: center;
}
col{
    color:red;
}

.form-label{
    color:white;
}
.form-control{
    color:red;
}
p{
    text-align: center;
    color:white;
}
.btn{
    background-color:red;   
}
a.btn{
    color:white;
}

aside{
    text-align: center;  
}

.card-text{
    color:black;
}
.g-4{
    margin-left:250px;
    margin-right:250px;
}
main{
    text-align: center;
}
table{
    width:100%;
    position: ;
    justify-content: center;
    
}
.table-dark{
   width: 70%;
    margin-left: 300px;
    margin-right:200px;
    align
}

.mb-3{
 margin-left: 400px;
  margin-right: 400px;
}
thead{
    color:red;
}
@media screen and (max-width: 576px)
{

}
@media screen and (max-width: 768px){
li{
text-align: left;
}
}